name: Auto-close completed issues

on:
  issues:
    types: [labeled]

jobs:
  close-issue:
    if: github.event.label.name == 'completed'
    runs-on: ubuntu-latest
    steps:
      - name: Close issue
        uses: actions-cool/issues-helper@v3
        with:
          actions: 'close-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}